/*QUESTIONS:
  1. How do we deal with resizing the page? The image/div background does not move to fit my screen.
*/

body {
  background-color: #EE964B;
}

div {
  width: 100%;
}

/* Fossil Free*/
.container1 {
  position: relative;
  object-fit: contain;
}

.background-img1 {
  width: 100%;
  object-fit: contain;
  position: relative;
}


h1 {
  position: absolute;
  font-size: 12.5vw;
  /* the vw unit makes the font change size relative to the size of the browser display*/
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-stretch: extra-expanded;
  margin: -17.2% 0 0 0;
  /*margin: top right bottom left*/
  color: #EE964B;
  line-height: 2;
}

.navbar {
  margin-top: 2.5%;
  margin-left: -2.5%
}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  float: center;
  margin: 10px;
  display: inline;
}

.navbar ul li a {
  font-family: 'Monserrat', sans-serif;
  color: #5F5F5F;
  font-size: 2.0vw;
  text-decoration: none;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

/* Orange Divider and links*/

/*.container2 {
  position: relative;
  object-fit: contain;

}*/

/*.container2 ul li {
  float: left;
  margin: 20px;
  display: block;
  text-decoration: none;
  text-align: left;
  padding: 15px;
  font-size: 2.0vw;
  font-family: 'Monserrat', sans-serif;
  font-weight: normal;
  color: #5F5F5F;
}

.buff1 {
  font-size: 0.9vw;
  color: #EE964B;
}*/

/*a {
  font-size: 2.0vw;
  font-family: 'Monserrat', sans-serif;
  font-weight: normal;
  color: #5F5F5F;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
} 

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}

.archive {
  margin-right: 50%;
}
*/

/* Our Mission*/
.container3 {
  height: 500px;
  position: relative;
  object-fit: contain;
  background-color: #E7D4C5;

}

h2 {
  position: absolute;
  font-size: 5vw;
  /* the vw unit makes the font change size relative to the size of the browser display*/
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 2.5% 0 0 35%;
  /*margin: top right bottom left*/
  color: #5F5F5F;
  line-height: 2;

}